.myheader {
    background-image: url('../img/binary.png');
    background-size: cover;
    height: 50%;
}



.picprofile {
    border: 5px solid white;
    border-radius: 100%;
    max-width: 220px;
    max-height: 220px;
    display: block;
    margin: auto;
}

.topbottomdescription {
    margin-bottom: 50px;
    margin-top: 50px;
}

.topbottommargin {
    margin-bottom: 150px;
    margin-top: 100px;
}

.topbotmargin {
    margin-bottom: 50px;
    margin-top: -75px;
}

.titleheader {
    color: white;
    text-align: left;
    font-weight: bold;
}

.description {
    text-align: center;
}

.whitecontainer {
    background-color: #f6f6f6;
}

.greycontainer {
    background-color: gray;
}

.marginleft {
    margin-left: 10px;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}
